body {
	font-family: 'Fredoka One', cursive;
	background-color: #efe6d6;
	color: #262626;
}

.content {
	margin-top: 10%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	align-self: center;
}

.cover-etc {
	text-align: center;
	margin-top: 10vh;
}

#cover {
	max-width: 300px;
	max-height: 400px;
	border-radius: 10px;
}

.synopsis {
	padding: 0 4em;
}

#synopsis {
	font-size: 0.8rem;
}

.chapters {
	height: 75vh;
	width: 100%;
	border: 1px solid #ffcc00;
	border-radius: 10px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	align-self: center;
}

li {
	margin: auto;
}

a:link, a:visited {
	text-decoration: none;
	color: #eebb00;
}

a:hover, a:active, .btn-link, .btn-link:hover {
	text-decoration: none;
	color: #eecc66;
}

#buylogo {
	height: 200px;
	margin-top: -20%;
	margin-bottom: -20%;
	
}

.card-header {
	background-color: #757575;
}

.card-body {
	background-color: #464646;
}