.cover {
	width: 125px;

}

#cover, #cover2 {
	position: relative;
	margin: 25px 10%;
	box-shadow: 8px 8px 5px black;
}

#cover, #covertest {
	float: left;
}

#cover2 {
	float: right;
}

#booktitle {
	text-align: center;
	color: #262626;
	font-size: 1rem;
	margin: 15vh auto 5vh auto;

}

#bold {
	font-size: 1.4rem;
}