body {
	font-family: 'Fredoka One', cursive;
}

.booklist::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.content, .booklist {
	height: 100vh;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.content {
	background-color: #efe6d6;
	float: left;
}

.booklist {
	padding-bottom: 10%;
	background-color: #ffcc00;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#introtitle {
	color: #33ccff;
	font-size: 1.5rem;
}

#logotitle {
	max-height: 35vh;
	margin: -5% auto;
}

#desc {
	color: #262626;
	margin: auto;
}

#intro {
	text-align: center;
	padding: 15vh 0;
	display: block;
	transition: 0.5s;
}

#intro2, #intro3 {
	display: none;
	padding: 15vh 0;
	height: 100%;
	transition: 0.5s;
	z-index: 1;
}

#buttons {
	width: calc(100px + 5vw);
	float: right;
	bottom: 0;
}

iframe {
	height: 480px;
	width: 720px;
}

.bars {
	position: absolute;
	bottom: 0 !important;
	width: 100%;
	vertical-align: text-bottom;
}

#bookheader {
	color: white;
	font-size: 1.6rem;
	text-align: center;
	margin-top: calc(60px + 5vh);
}

#vidtitle {
	font-size: calc(8px + 0.5vh);
	float: left
}

.video {
	text-align: center;
}

@media screen and (min-width: 960px) {
	#vidtitle {
		font-size: calc(12px + 1vh)
	}
}

@media screen and (max-width: 576px) {
	iframe {
	height: 180px;
	width: 320px;
}
}