nav {
    width: 100%;
}

a {
    color: #eebb00;
}

a:hover {
    color: #eecc66;
}

.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
}

#logo {
	height: 120px;
	margin-top: -20%;
	margin-bottom: -20%;
}

.modal-content {
    background-color: #efe6d6;
}

.modal-header {
    background-color: #262626;
}

#aboutUsModal, #contactUsModal, #disclaimerModal {
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 60px;
    margin: auto;
    transition: 0.3s;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#aboutUsModal p, #contactUsModal p, #disclaimerModal p {
    color: #242424;
}

.modal-header span {
    font-size: 1.25rem;
    color: #ffcc00;
}

#mini {
    font-size: 5px;
}

#button {
    height: 5vh;
}