body {
	font-family: 'Fredoka One', cursive;
	background-color: #efe6d6;
	color: #262626;
}

.content {
	text-align: center;
	margin-top: 25vh;
}

a, a:hover {
	color: #ffcc00;
	margin: auto 30px;
}

#cover {
	max-width: 300px;
	max-height: 400px;
	border-radius: 10px;
}

.text {
	font-size: 1.25rem;
}

.highlight {
	color: #ffcc00;
}

.code {
	font-size: 1.5rem;
}

