body {
	font-family: 'Fredoka One', cursive;
	background-color: #efe6d6;
	color: #262626;
}

.content {
	text-align: center;
	margin-top: 25vh;
}

.navigate, .navigate:hover {
	color: #eebb00;
	margin: auto 30px;
}

#cover {
	width: 50%;
	height: auto;
	border-radius: 10px;
}

.text {
	font-size: 1.25rem;
}

.highlight {
	color: #eebb00;
}

.code {
	font-size: 1.5rem;
}

@media screen and (max-width: 576px) {
	.text {
		font-size: 0.8rem;
	}

	.code {
		font-size: 1rem;
	}

	.navigate, .navigate:hover {
	margin: auto 3vh;
}
}
