body {
	background-color: #efe6d6;
	font-family: 'Fredoka One', cursive;
}

.container {
	margin-top: 10vh;
}

img {
	height: 7.5em;
	margin-top: -20%;
	margin-bottom: -20%;
}

#logo {
	height: 120px;
	margin-top: -20%;
	margin-bottom: -20%;
}

.title {
	font-size: 1.25rem;
	color: #33ccff;
	text-align: center;
	margin: 1.3rem;
}

.form-group {
	margin: 5px auto;
}

label {
	color: #262626;
	font-size: 0.85rem;
}

.form-control {
	font-size: 0.75rem;
}

.signup {
	background-color: #33ccff;
	border-radius: 2.25em;
	padding: 5px 35px;
	color: white;
}

.submit-wrap {
	text-align: center;
}