body {
	background-color: #262626;
	font-family: 'Fredoka One', cursive;
}

.container {
	margin-top: 10vh;
}

img {
	height: 7.5em;
	margin-top: -20%;
	margin-bottom: -20%;
}

#logo {
	height: 120px;
	margin-top: -20%;
	margin-bottom: -20%;
}

.title {
	font-size: 1.25rem;
	color: #33ccff;
	text-align: center;
	margin: 1.3rem;
}

.form-group {
	margin: 5px auto;
}

label {
	color: #f2f2f2;
	font-size: 0.85rem;
}

.form-control {
	font-size: 0.75rem;
}

.signup {
	background-color: #33ccff;
	border-radius: 2.25em;
	padding: 5px 35px;
	color: white;
}

.submit-wrap {
	text-align: center;
}

.navbar {
	padding: 15px 0;
	position: fixed;
	top: 0;
	z-index: 1;
	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}